
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@400;500;600;700;800&family=Poppins&display=swap');

*{
    padding: 0;margin:0;box-sizing: border-box;
    outline:0;transition:all .4s ease-in-out;
}
:root{
    --bg-color:#fff;
    --display-color:#cad2d3;
    --ac-eval-ce-color:#ADA2FF;
    --ac-eval-ce-text-color:rgb(31, 60, 121);
    --btn-operator-color:#FEDEFF ;
    --btn-operator-text-color:rgb(105, 12, 97);
    --icon-color:#000;
    --btn-no-color:rgb(186, 217, 246);
    --btn-no-text-color:#000;
    --btn-sci-color:rgb(238, 233, 237);
}
.darkmode{
    --bg-color:#121b2f;
    --display-color:#525657;
    --ac-eval-ce-color:#202040;
    --ac-eval-ce-text-color:rgb(189, 170, 175);
    --btn-operator-color:#202060 ;
    --btn-operator-text-color:rgb(174, 165, 162);
    --icon-color:#fff;
    --btn-no-text-color:#000;
    --btn-sci-color:rgb(79, 76, 79);
    --btn-sci-text-color:rgb(238, 233, 237);

}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #8EC5FC;
background-image: linear-gradient(45deg, #8EC5FC 9%, #E0C3FC 22%, #875be1 66%, #8d4ca7 100%);


}
.head{
    display:flex;
    gap:40px;
    width:50%;
    height:60px;
    justify-content: space-around;
    margin-bottom:10px;
    margin-left: 40px;
    position: relative;
    top:50px
    
}
h2{ 
    /* border:2px solid green; */
    text-transform: uppercase;
    
}
#icon{
    width:30px;
    cursor:pointer;
    border-radius: 50%;
    background-color:var(--icon-color);
}
.container{
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;
}
.calculator{
    position: relative;
    padding:20px;
    height:auto;
    width:auto;
    box-shadow: 5px 5px 20px #2423235a;
    border-radius: 10px;
    outline: none;
    
}



.display #screen 
{
    margin-bottom: .5em;
    width: auto;
    height: 50px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px #0a1e231f;
}



button{
    height:30px;
    width:60px;
    border:.3px solid grey;
    margin:4px;
    border-radius:9px;
    font-size:1rem;
    cursor:pointer;
    transition:all .2s ease-in-out;
    box-shadow: 0 5px 10px 0px #0a1e231f;

}
button:hover{
    transform: scale(1.1);
    background-color: rgba(128, 128, 128, 0.523);
}



.calculator{
    background-color:var(--bg-color);    
}

.calculator #display{
    background-color:var(--display-color);
}
.calculator button#ce,
.calculator button#ac,
.calculator button#eval{
    background-color: var(--ac-eval-ce-color);
    color: var(--ac-eval-ce-text-color);
}

.calculator button.btn-operator{
    background-color:var(  --btn-operator-color );
    color: var( --btn-operator-text-color);

}
.calculator button.btn-no{
    background-color:var( --btn-no-color);
    color: var( --btn-no-text-color);

}
.calculator button.btn-sci{
    background-color:var( --btn-sci-color);
    color: var(   --btn-sci-text-color);

}


